html{
  background-color: #bdb76b;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    
  
}
hr {
  border: 2px solid #bdb76b;
   height: 2px; 

 }

summary {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    display: inline-block;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.3);
    width: 30%;
  font-size: 19px;
  }
  .bio{
   width: 92%;
text-align: center;
padding: 4%;
  }
  details{
    text-align: center;
  }
.container {
 display: contents;
justify-content: center;
align-items: center;
height: 64vh;
text-align: center;
padding: 0px;
}
.centered-image {
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
    }
a {
 margin: 20px;
text-decoration: none;
color: black;
display: inline-grid;
}

img {
  width: 200px;
  height: auto;
}

header{
  display: block;
  text-align: center;
  padding-top: 1px ;
  align-self: center;
  width: 100%;

}
h1{
  font-size: 50px;
}

    .footer {
      background-color: #000;
      color: #fff;
      padding: 20px;
      text-align: center;
      display: grid;
    }

    .footer a {
      color: #fff;
      margin: 10px;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    .footer .icon {
      margin-right: 5px;
      font-size: 37px;
  }
.pocimas {
  background: linear-gradient(to bottom, #bdb76b, #708090, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}
.lagrima {
  background: linear-gradient(to bottom, #bdb76b, #708090, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}.muerte {
  background: linear-gradient(to bottom, #bdb76b, #708090, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}.fuga {
  background: linear-gradient(to bottom, #bdb76b, #708090, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}
.tiempo {
  background: linear-gradient(to bottom, #bdb76b,#a0522d, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
  text-align: center;
}
.tiempo h4{ 
  width: 40%;
  position: relative;
left: 30%;
}
.triplete {
  background: linear-gradient(to bottom, #bdb76b,#a0522d, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}


.miscelaneas {
  background: linear-gradient(to bottom, #bdb76b, #483d8b, #bdb76b);
  padding-top: 10px; /* Ajuste al padding-top para separación */
}

.miscelaneas hr{
  border: 2px solid #483d8b;
  width: 20%;
}

.libros hr{
  border: 2px solid #708090;
  width: 20%;
}

.fanzines hr{
  border: 2px solid #a0522d;
  width: 20%;
}

@media(max-width: 602px){
iframe{
  width: 90%

}
.tiempo h4{
width: 100%;
left: unset;
}
}
